ImageMetadata/xsd/imageMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Mark D. Drake (Oracle XML DB) -->
<!--W3C Schema generated by XML Spy v4.1 U (http://www.xmlspy.com)-->
<xs:schema xmlns="http://xmlns.oracle.com/xdb/metadata/ImageMetadata" 
                   xmlns:ord="http://xmlns.oracle.com/ord/meta/ordimage" 
                   xmlns:xmp="http://xmlns.oracle.com/ord/meta/xmp" 
                   xmlns:iptc="http://xmlns.oracle.com/ord/meta/iptc" 
                   xmlns:exif="http://xmlns.oracle.com/ord/meta/exif" 
                   xmlns:dicom="http://xmlns.oracle.com/ord/meta/dicomImage" 
                   xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                   xmlns:xdb="http://xmlns.oracle.com/xdb" 
                   targetNamespace="http://xmlns.oracle.com/xdb/metadata/ImageMetadata" 
                   elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://xmlns.oracle.com/ord/meta/ordimage" schemaLocation="http://xmlns.oracle.com/ord/meta/ordimage"/>
	<xs:import namespace="http://xmlns.oracle.com/ord/meta/xmp" schemaLocation="http://xmlns.oracle.com/ord/meta/xmp"/>
	<xs:import namespace="http://xmlns.oracle.com/ord/meta/iptc" schemaLocation="http://xmlns.oracle.com/ord/meta/iptc"/>
	<xs:import namespace="http://xmlns.oracle.com/ord/meta/ordimage" schemaLocation="http://xmlns.oracle.com/ord/meta/ordimage"/>
	<xs:import namespace="http://xmlns.oracle.com/ord/meta/exif" schemaLocation="http://xmlns.oracle.com/ord/meta/exif"/>
	<xs:import namespace="http://xmlns.oracle.com/ord/meta/dicomImage" schemaLocation="http://xmlns.oracle.com/ord/meta/dicomImage"/>
	<xs:element name="imageMetadata" type="imageMetadataType" xdb:defaultTable="IMAGE_METADATA_TABLE"/>
	<xs:complexType name="imageMetadataType" xdb:SQLType="IMAGE_METADATA_T">
		<xs:all>
			<xs:element name="Title" type="TitleType" minOccurs="1" xdb:SQLName="TITLE"/>
			<xs:element name="Description" type="XHTMLType" minOccurs="1" xdb:SQLName="DESCRIPTION"/>
			<xs:element name="Thumbnail" type="xs:base64Binary" minOccurs="0" xdb:SQLType="CLOB"/>
			<xs:element ref="ord:ordImageAttributes" minOccurs="1" xdb:SQLInline="false" xdb:defaultTable="ORDIMAGE_METADATA_TABLE"/>
			<xs:element ref="exif:exifMetadata" minOccurs="0" xdb:SQLInline="false" xdb:defaultTable="EXIF_METADATA_TABLE"/>
			<xs:element ref="xmp:xmpMetadata" minOccurs="0" xdb:SQLInline="false" xdb:defaultTable="XMP_METADATA_TABLE"/>
			<xs:element ref="iptc:iptcMetadata" minOccurs="0" xdb:SQLInline="false" xdb:defaultTable="IPTC_METADATA_TABLE"/>
			<xs:element ref="dicom:DICOM_IMAGE" minOccurs="0" xdb:SQLInline="false" xdb:defaultTable="DICOM_METADATA_TABLE"/>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="XHTMLType" mixed="true" xdb:SQLType="CLOB">
		<xs:sequence maxOccurs="unbounded">
			<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="skip"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TitleType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
